In [1]:
name= 'Rohit Ghotale'
name[0::-1]

'R'

In [2]:
name[0:5:-1]

''

In [9]:
# import pandas to use pandas DataFrame
import pandas as pd
import numpy as np
  
# data in the form of list of tuples
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df[['From','To']]=df.From_To.str.split("_",expand=True,)
df['FlightNumber']=df['FlightNumber']+10
df['FlightNumber']=df['FlightNumber'].mean()
df['From']=df.From.str.capitalize()
df['To']=df.From.str.capitalize()
df['From']=df.From.str.capitalize()
df.drop(['From_To'], axis = 1,inplace=True)
df_delays=pd.DataFrame(df['RecentDelays'].tolist(),columns=['Delay_1','Delay_2','Delay_3'])
print(df)
print(df_delays)
frames=[df,df_delays]
df=pd.concat(frames,axis=1)
df

   FlightNumber  RecentDelays              Airline      From        To
0       10075.0      [23, 47]               KLM(!)    London    London
1       10075.0            []    <Air France> (12)    Madrid    Madrid
2       10075.0  [24, 43, 87]  (British Airways. )    London    London
3       10075.0          [13]       12. Air France  Budapest  Budapest
4       10075.0      [67, 32]          "Swiss Air"  Brussels  Brussels
   Delay_1  Delay_2  Delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

,FlightNumber,RecentDelays,Airline,From,To,Delay_1,Delay_2,Delay_3
0,10075.0,"[23, 47]",KLM(!),London,London,23.0,47.0,NaN
1,10075.0,[],<Air France> (12),Madrid,Madrid,NaN,NaN,NaN
2,10075.0,"[24, 43, 87]",(British Airways. ),London,London,24.0,43.0,87.0
3,10075.0,[13],12. Air France,Budapest,Budapest,13.0,NaN,NaN
4,10075.0,"[67, 32]","""Swiss Air""",Brussels,Brussels,67.0,32.0,NaN